.project
.cproject
.settings
.deps
.libs
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.guess
config.sub
ltmain.sh
aclocal.m4
configure
install-sh
libtool
compile
depcomp
missing
stamp-h1
*.log
*.o
*.la
*.so*
*.a
*.lo
*~

/autom4te.cache/
/src/cli/authselect
