.project
.cproject
.pydevproject
.settings
.deps
.libs
.dirstamp
build
ABOUT-NLS
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.guess
config.sub
ltmain.sh
aclocal.m4
configure
install-sh
libtool
compile
depcomp
missing
stamp-h1
*.log
*.o
*.la
*.so*
*.a
*.lo
*~
*.pyc
Makevars.template

/.zanata-cache/
/autom4te.cache/
/rpm/authselect.spec
/src/cli/authselect
/src/compat/authcompat.py.in
/src/compat/authcompat.py
/src/lib/authselect.pc
/src/man/build.sh
/src/man/build.stamp
/src/man/translations/
/src/man/authselect.8
/src/man/authselect-profiles.5
/src/man/authselect-migration.7
/m4

/po/Makefile.in.in
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/po/POTFILES
/po/remove-potcdate.sed
