.project
.cproject
.settings
.deps
.libs
.dirstamp
build
ABOUT-NLS
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.guess
config.sub
ltmain.sh
aclocal.m4
configure
install-sh
libtool
compile
depcomp
missing
stamp-h1
*.log
*.o
*.la
*.so*
*.a
*.lo
*~
Makevars.template

/autom4te.cache/
/src/cli/authselect
/src/man/authselect.8
/src/man/authselect.8.txt
/src/man/authselect.8.txt.in
/src/man/authselect-profiles.5
/src/man/authselect-profiles.5.txt
/src/man/authselect-profiles.5.txt.in
/m4

/po/*
!/po/Makevars
!/po/POTFILES.in
