[Unit]
Description=Apply authselect changes
Documentation=man:authselect(8)
After=local-fs.target
Before=systemd-user-sessions.service nss-user-lookup.target
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
ExecStart=/usr/bin/authselect apply-changes --upgrade
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
