name: Build
on: [push, pull_request]
jobs:
  make-check:
    runs-on: ubuntu-latest
    container: fedora:latest
    permissions:
      contents: read
    env:
      CFLAGS: -Wall -Wextra -Werror -Wno-sign-compare -Wno-unused-parameter -ggdb3
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        scripts/auto install-build-deps
    - run: autoreconf -if && ./configure --enable-silent-rules
    - run: make
    - run: make check
    - run: make distcheck
